.widtho{
  width: 12rem;
  background-color: #2b004c;
}


.header{
  display: flex;
  margin-top: 0.8rem;
  margin-left: 2rem;
}
.p-1{
  font-size: 0.7rem;
  font-weight: 800;
  color: #ff375e;
  margin-top: 0.3rem;
}
.p-2{
  font-size: 0.7rem;
  font-weight: 800;
  color: #8e9aa0;
  margin-top: 0.1rem;
}
.icon{
  height: 0.5rem;
  margin-top: 0.8rem;
  margin-left: 0.2rem;
}


.card{
  align-items: center;
  border: none;
}
.terms{
  background-color: #f3f3f1;
  width: 63rem;
  padding: 3.2rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
}
.terms-head{
  font-weight: 400;
  font-size: 2.8rem;
}
.terms-p{
color: #8e9aa0;
line-height: 0.3rem;
margin-bottom: 4rem;
}

.one-head{
  font-size: 1.9rem;
  font-weight: 600;
}
.one{
  font-weight: 500;
  width: 57rem;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}


.footer{
  height: 4.5rem;
  border-top: 2px solid rgb(231, 229, 229);
}
.terms-button{
  float: right;
  border: none;
  color: white;
  background-color: #ff375e;
  font-weight: 500;
  font-size: 0.7rem;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  padding-top: 0.7rem;
  margin-right: 2rem;
}


@media screen and (max-width: 560px) {
  .right-nav{
    margin-left: 1rem;
    width: 75%;
  }
  .navbar-brand{
    width: 3rem;
    height: 3rem;
  }
.user{
  margin-right: 0.5rem;
}
.card,.terms{
  width: 100%;
}
.terms{
  padding: 2rem;
}
.terms-head{
  font-size: 2rem;
  text-align: center;
}
.terms-p{
  line-height: 1.2rem;
  text-align: center;
}
.one-head{
  font-size: 1.5rem;
  text-align: center;
}
.one{
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  text-align: justify;
}
}