.imgo{
  height: 110px;
}
.body{
  display: flex;
}
.widtho{
  width: 12rem;
  height: 100%;
  background-color: #2b004c;
}

.icon{
  height: 1rem;
  margin-left: 0.7rem;
  margin-right: 0.3rem;
}
.nav-link.align-middle.px-0{
  cursor: pointer;
}
.ms-1.d-none.d-sm-inline.m{
  color: white;
  font-weight: 500;
}
.nav.nav-pills.flex-column.mb-sm-auto.mb-0.align-items-center.align-items-sm-start{
  margin-top: 2rem;
}
.ms-1.d-none.d-sm-inline{
  color: #aa99b7;
  font-size: 0.8rem;
}


.head,.left-head,.titles,.center-right{
  display: flex;
}

.head{
  border-bottom: 2px solid #eeeeee;
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 15px;
}
.left-head{
  margin-top: 30px;
}
.hed{
  color: #4f008c;
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}
.nam{
  font-size: 23px;
  font-weight: 400;
}
.titles{
  width: 500px;
  margin-top: 23px;
}
.tit{
  background-color: #f3f3f1;
  font-size: 12px;
  font-weight: 700;
  margin-right: 15px;
  border-radius: 100px;
  padding: 5px 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.titt{
  background-color: #f3f3f1;
  font-size: 12px;
  font-weight: 700;
  margin-right: 5px;
  border-radius: 100px;
  width: 243px;
  padding: 5px 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.right-head{
  margin-top: 40px;
}
.quit{
  border: none;
  background-color: #ff375e;
  color: white;
  margin-left: 295px;
  padding: 8px 30px;
  font-size: 11px;
  font-weight: 500;
}
.center-right{
  margin-top: 50px;
}
.badg{
  height: 75px;
}
.talk{
  margin-left: 10px;
}
.craft{
  font-size: 15px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 5px;
}
.par{
  color: #a3adb2;
  font-size: 12px;
  width: 200px;
  line-height: 15px;
}
.points{
  cursor: pointer;
  text-decoration: none;
  color: #ff375e;
  font-size: 11px;
  font-weight: 800;
  margin-left: 150px;
}
.center{
  display: block;
  border-left: 2px solid #e8e8e8;
  margin-left: 200px;
  padding-left: 20px;
}

.middle-body{
  margin-top: 60px;
}

.leftt{
  box-shadow: 0 2px 5px 0 rgba(151, 150, 150, 0.2), 0 3px 10px 0 rgba(134, 133, 133, 0.19);
  margin-left: 35px;
  width: 45%;
  padding: 30px;
}
.top{
  display: flex;
}
.hhh{
  font-size: 18px;
  font-weight: 800;
}
.filter{
  height: 10px;
}
.btn-filter{
  background-color: white;
  border: 2px solid #ff375e;
  border-radius: 100px;
  color: #ff375e;
  font-size: 11px;
  font-weight: 600;
  padding-left: 8px;
  padding-right: 8px;
  height: 22px;
  margin-left: 240px;
}

.one{
  font-size: 14px;
  font-weight: 500;
  width: 420px;
}
.boldy{
  font-weight: 700;
}
.anchor{
  cursor: pointer;
  text-decoration: none;
  color: #ff375e;
  font-size: 12px;
  font-weight: 800;
}
.bordery1,.bordery2{
  border-bottom: 2px solid #fafafa;
}

.bordery1{
  margin-top: 20px;
}

.bordery2,.bordery3{
  margin-top: 5px;
}

.middle-body,.oneTwo,.flexy{
  display: flex;
}

.rightt{
  margin-left: 40px;
}
.cardo{
  margin-right: 35px;
  margin-bottom: 35px;
  box-shadow: 0 2px 5px 0 rgba(151, 150, 150, 0.2), 0 3px 10px 0 rgba(134, 133, 133, 0.19);
  width: 250px;
  padding-bottom: 10px;
}
.ppp{
  color: #8e9aa0;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 20px;
  width: 200px;
}
.logo1{
  margin-left: 39px;
  height: 55px;
  width: 55px;
}
.logo2{
  margin-left: 20px;
  height: 55px;
  width: 55px;
}
.logo3{
  margin-left: 20px;
  height: 55px;
  width: 55px;
}
.num{
  font-size: 27px;
  font-weight: 700;
  margin-left: 20px;
}
.linky{
  cursor: pointer;
  text-decoration: none;
  color: #ff375e;
  font-weight: 700;
  font-size: 13px;
  margin-left: 20px;
}


.performance{
  margin-top: 70px;
  margin-bottom: 100px;
}
.headd{
  font-size: 25px;
  font-weight: 800;
  color: black;
  margin-left: 35px;
}
.graphes{
  display: flex;
  margin-top: 30px;
}
.comp-head, .cust-head{
  font-size: 20px;
  color: black;
  font-weight: 700;
  margin-bottom: 30px;
}
.cust-head{
  margin-left: 30px;
}
.comp-head{
  margin-left: 35px;
}
.bar-chart{
  margin-left: 0;
}
.linky2{
  cursor: pointer;
  text-decoration: none;
  color: #ff375e;
  font-weight: 700;
  font-size: 13px;
  margin-left: 415px;
  margin-bottom: 10px;
}
.linky3{
  cursor: pointer;
  text-decoration: none;
  color: #ff375e;
  font-weight: 700;
  font-size: 13px;
  margin-left: 415px;
  margin-bottom: 10px;
}