<div class="sidenav">
  <div class="widtho">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li>
          <a class="nav-link align-middle px-0">
            <img class="icon" src="../assets/img/dashboard.png"><span class="ms-1 d-none d-sm-inline"
              (click)="onDashboard()">My Dashboard</span>
          </a>
        </li>
        <li>
          <a data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <img class="icon" src="../assets/img/customers.png"><span class="ms-1 d-none d-sm-inline">My
              Customers</span>
          </a>
        </li>
        <li>
          <a class="nav-link px-0 align-middle">
            <img class="icon" src="../assets/img/community.png"><span class="ms-1 d-none d-sm-inline">Community</span>
          </a>
        </li>
        <li>
          <a class="nav-link px-0 align-middle">
            <img class="icon" src="../assets/img/leaderboard.png"><span
              class="ms-1 d-none d-sm-inline">Leaderboard</span>
          </a>
        </li>
        <li>
          <a class="nav-link px-0 align-middle">
            <img class="icon" src="../assets/img/service.png"><span class="ms-1 d-none d-sm-inline">Services &
              Polices</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

