<nav class="navbar navbar-expand-lg bg-light">  
  <div class="container-fluid">    
    <img class="navbar-brand" src="./assets/img/logo.png" alt="logo">   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">      
      <span class="navbar-toggler-icon"></span>    
    </button>    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
        <li class="nav-item">          
          <a class="nav-link active" aria-current="page">What is DCP?</a>        
        </li>        
        <li class="nav-item">          
          <a class="nav-link">How to join?</a>        
        </li>    
        <li class="nav-item">          
          <a class="nav-link">Success Stories</a>        
        </li>    
        <li class="nav-item-login" routerLinkActive="active">
          <a class="nav-link-login" routerLink="/login-page">LogIn</a>
        </li>      
      </ul>   
    </div>  
  </div>
</nav>


<div class="container">
  <div class="dcp">
    <div class="left-dcp">
      <h1 class="dcp-head"><span class="stc-span">stc </span>Digital Community Platform</h1>
      <p class="para-1">Do you love to help the people in your surrounding?</p>
      <p class="para-2">this community created for this purpose.</p>
      <p class="bold-para">Help your family, relatives, and friends</p>
      <button class="pink-btn">BE AN AMBASSADOR</button>
    </div>
    <div class="right-dcp">
      <img class="dcp-img" src="./assets/img/dcp.png" alt="DCP">
    </div>
  </div>

  <div class="join">
    <div class="up-join">
      <h1 class="join-h1">How to Join?</h1>
      <p class="join-para-up">Here is the steps you need to go through to join stc Digital Community Platform</p>
    </div>
    <div class="down-join">
      <div class="join-card">
        <div class="card-num">
          <span class="span-num">01</span><img class="join-img" src="./assets/img/email.png" alt="one">
        </div>
        <h3 class="card-head">Use your stc Email</h3>
        <p class="card-p">Enter your stc email address to populate your profile on the community</p>
      </div>
      <div class="join-card">
        <div class="card-num">
          <span class="span-num">02</span><img class="join-img" src="./assets/img/quistions.png" alt="one">
        </div>
        <h3 class="card-head">Fill the questionnaire</h3>
        <p class="card-p">Go through a set of questions to help the selection committe* understand your intentions and skills.</p>
        <p class="card-hint">*You will receive a confirmation email for acceptance</p>
      </div>
      <div class="join-card">
        <div class="card-num">
          <span class="span-num">03</span><img class="join-img" src="./assets/img/friends.png" alt="one">
        </div>
        <h3 class="card-head">Add and serve your friends</h3>
        <p class="card-p">After joining you will be able to add your friends and relative to your profile and act as stc ambassador for them.</p>
      </div>
      <div class="join-card">
        <div class="card-num">
          <span class="span-num">04</span><img class="join-img" src="./assets/img/rewards.png" alt="one">
        </div>
        <h3 class="card-head">Enjoy your rewards</h3>
        <p class="card-p">Helping customers, solving quizzes and sharing helpfull answers for other community members will be rewarded with points and badges.</p>
        <p class="card-hint">*Understand the rewarding <span class="here">here.</span></p>
      </div>
    </div>
  </div>

  <div class="ambassador">
    <div class="ambassador-up">
      <h1 class="amb-head">How can the Ambassador works?</h1>
    </div>
    <div class="ambassador-down">
      <div class="card-amb1">
        <img class="amb-img" src="./assets/img/heartandpeople.png">
        <p class="amb-p">Help stc customers understand more about services and products by sharing usefull information with them</p>
      </div>
      <div class="card-amb">
        <img class="amb-img" src="./assets/img/cup.png">
        <p class="amb-p">Submit and follow-up with customers complaints and inquires</p>
      </div>
      <div class="card-amb">
        <img class="amb-img" src="./assets/img/circle.png">
        <p class="amb-p">Ask and answer questions with other ambassadors in the community</p>
      </div>
    </div>
  </div>

  <div class="monitor">
    <div class="monitor-left">
      <h1 class="monitor-head">Easily Monitor Everything</h1>
      <p class="monitor-p">Track your customers engagement and satisfaction and your points and rewards.</p>
    </div>
    <div class="monitor-right">
      <img class="monitor-img" src="./assets/img/78k.png" alt="Monitoring">
    </div>
  </div>

</div>

  <div class="community">
    <div class="left-comm">
      <h1 class="comm-head">Does the community really help?</h1>
      <p class="comm-p1">Here is the steps you need to go through to join stc Digital Community Platform</p>
      <p class="comm-p2">What to write the next success story?</p>
      <button class="pink-btn2">BE AN AMBASSADOR</button>
    </div>
    <div class="margin-top-custom">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper">
              <div class="card1">
                <p class="p-comm">"I have attracted a new customer from my relatives to subscribe for a Quick-net Postpaid Service"</p>
                <img class="img-comm" src="./assets/img/faisal.png" alt="Faisal">
                <p class="p-comm2">Faisal Almutairi</p>
              </div>
              <div class="card2">
                <p class="p-comm">"I helped my grandmother set up a roaming service while she was traveling to the USA"</p>
                <img class="img-comm" src="./assets/img/fatima.png" alt="Fatima">
                <p class="p-comm2">Fatima Almotawaa</p>
              </div>
              <div class="card3">
                <p class="p-comm3">"I convinced my cousin to keep his subscription on Roaming Control service after solving an issue which lasts three months before the platform"</p>
                <img class="img-comm" src="./assets/img/yousef.png" alt="Yousef">
                <p class="p-comm2">Yousef Aloufi</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card1">
                <p class="p-comm">"I have attracted a new customer from my relatives to subscribe for a Quick-net Postpaid Service"</p>
                <img class="img-comm" src="./assets/img/faisal.png" alt="Faisal">
                <p class="p-comm2">Faisal Almutairi</p>
              </div>
              <div class="card2">
                <p class="p-comm">"I helped my grandmother set up a roaming service while she was traveling to the USA"</p>
                <img class="img-comm" src="./assets/img/fatima.png" alt="Fatima">
                <p class="p-comm2">Fatima Almotawaa</p>
              </div>
              <div class="card3">
                <p class="p-comm3">"I convinced my cousin to keep his subscription on Roaming Control service after solving an issue which lasts three months before the platform"</p>
                <img class="img-comm" src="./assets/img/yousef.png" alt="Yousef">
                <p class="p-comm2">Yousef Aloufi</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card1">
                <p class="p-comm">"I have attracted a new customer from my relatives to subscribe for a Quick-net Postpaid Service"</p>
                <img class="img-comm" src="./assets/img/faisal.png" alt="Faisal">
                <p class="p-comm2">Faisal Almutairi</p>
              </div>
              <div class="card2">
                <p class="p-comm">"I helped my grandmother set up a roaming service while she was traveling to the USA"</p>
                <img class="img-comm" src="./assets/img/fatima.png" alt="Fatima">
                <p class="p-comm2">Fatima Almotawaa</p>
              </div>
              <div class="card3">
                <p class="p-comm3">"I convinced my cousin to keep his subscription on Roaming Control service after solving an issue which lasts three months before the platform"</p>
                <img class="img-comm" src="./assets/img/yousef.png" alt="Yousef">
                <p class="p-comm2">Yousef Aloufi</p>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">prev</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">next</span>
          </button>
        </div>
      </div>
    </div>
  </div>



  <div class="footer">
    <div class="left-foot">
      <a class="footp1">STC Homepage</a>
      <a class="footp2">Privacy Statement</a>
    </div>
    <div class="right-foot">
      <img class="face" src="./assets/img/facebook.png" alt="Facebook">
      <img class="tweet" src="./assets/img/tweeter.png" alt="Tweeter">
      <img class="insta" src="./assets/img/insta.png" alt="Insta">
      <img class="youtube" src="./assets/img/youtube.png" alt="Youtube">
    </div>
  </div>