<nav class="navbar navbar-expand-lg bg-light">  
  <div class="container-fluid">    
    <img class="navbar-brand" src="../assets/img/logo-rest.png" alt="logo"> 
    <div class="right-nav">
      <img class="bell" src="../assets/img/bell.png">
      <h1 class="user">{{employee.userName}}</h1>
      <span><img class="arrow" src="../assets/img/account.png"></span><img class="user-pic" src={{employee.img}}>
    </div>      
  </div>
</nav>

<div class="body">
  <div class="sidenav">
        <div class="widtho">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a class="nav-link align-middle px-0">
                              <img class="icon" src="../assets/img/dashboard.png"><span class="ms-1 d-none d-sm-inline" (click)="onDashboard()">My Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                              <img class="icon" src="../assets/img/customers.png"><span class="ms-1 d-none d-sm-inline">My Customers</span> 
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-0 align-middle">
                              <img class="icon" src="../assets/img/community.png"><span class="ms-1 d-none d-sm-inline">Community</span>
                        </a>
                    </li>
                    <li>
                      <a class="nav-link px-0 align-middle">
                             <img class="icon" src="../assets/img/leaderboard.png"><span class="ms-1 d-none d-sm-inline">Leaderboard</span>
                      </a>
                  </li>
                  <li>
                    <a class="nav-link px-0 align-middle">
                             <img class="icon" src="../assets/img/service.png"><span class="ms-1 d-none d-sm-inline">Services & Polices</span>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="middle-body">
      <div class="header">
        <p class="p-1">SERVICES & POLICIES</p>
        <img class="icon2" src="../assets/img/terms-icon.png">
        <p class="p-2">POLICIES</p>
      </div>
      <h1 class="h">Telecommunications Services Policy <img src="../assets/img/policy.png"></h1>
      <p class="p">Highlight to share or comment on any part of the policy.</p>
      <div class="card">
        <div class="one">
          <h1 class="pol">3.1 Cellular Telecommunications Devices</h1>
          <p class="per">Telecommunications will select a small number of approved devices.These devices haved for compatibility with the most common Brownapplications and Brown WiFi.Should an end user desire a device/feature/service that is nut a ntaote on one of the approved devices,the end usermay present a case for Telecommunications to review the device for conditional approval In the event the device is not approved and an end user stillwants it,the end user will be required to sign a waiver confirming understanding that the University will offer"best effort" support of the devices.University-issued devices will be configured by CIS and will have active-synch enabled.The University reserves the right to "push" policies to mobiledevices and to remotely reset devices.Any attempt to override University policies.</p>
        </div>
        <div class="two">
          <h1 class="pol">3.2 Cellular Telecommunications Devices</h1>
          <p class="per">Access and use of University-issued devices is a privilege that is granted in connection with an individual's duties to the University.These devices areto be used for conducting University business and/or in furtherance of the educational mission of the University.Requests for University-paidservices require approval by an authorized department representative and the Provost's Office.
            <br><br>
            Telecommunications will select a small number of approved devices.These devices have been tested for compatibility with the most common Brownapplications and Brown WiFi.Should an end user desire a device/feature/service that is not available on one of the approved devices,the end usermay present a case for Telecommunications to review the device for conditional approval. In the event the device is not approved and an end user stillwants it,the end user will be required to sign a waiver confirming understanding that the University will offer"best effort" support of the devices.University-issued devices will be configured by CIS and will have active-synch enabled.</p>
        </div>
        <div class="three">
          <h1 class="pol">3.3 Cellular Telecommunications Devices</h1>
          <p class="per">Telecommunications will select a small number of approved devices.These devices haved for compatibility with the most common Brownapplications and Brown WiFi.Should an end user desire a device/feature/service that is nut a ntaote on one of the approved devices,the end usermay present a case for Telecommunications to review the device for conditional approval In the event the device is not approved and an end user stillwants it,the end user will be required to sign a waiver confirming understanding that the University will offer"best effort" support of the devices.University-issued devices will be configured by CIS and will have active-synch enabled.The University reserves the right to "push" policies to mobiledevices and to remotely reset devices.Any attempt to override University policies.</p>
        </div>
      </div>
    </div>
    </div>